* {
    margin:0px;
}

a {
    text-decoration: none;

}

a:hover {
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media   (min-width: 600px) and (max-width: 1199px) {
    header {
        background-color: rgb(233, 222, 222);
        height: 100px;
        width: 100%;
        padding: 9px;
        position: fixed;
        }

    #brandname {
        font-size: 60px;
        color: rgba(69, 69, 226, 0.959);
        text-align: center;
        font-family:  'Pacifico', cursive;
        font-weight: lighter;
    }


    #aboutusheading {
        text-align: center;
    }

    
    #aboutus {
        margin-top: 150px;
        height: auto;
        width: auto;
        padding: 25px;
        background-color: rgb(187, 215, 233);
        font-family:Arial, Helvetica, sans-serif;
    }

    #foundersinfo {
        height: auto;
        width: auto;
        margin-top: 150px;
        background-color: rgb(187, 215, 233);
        padding: 35px 20px 35px 20px;
        font-family:Arial, Helvetica, sans-serif;
        margin-bottom: 150px;
    }

    img {
        height: 500px;
        width: 350px;
        border-radius: 40px;
        margin-bottom: 50px;
    }

    #cofo {
        height: 500px;
        width: 400px;
        border-radius: 40px;
        margin-bottom: 50px;
    }

    h1 {
        font-weight: lighter;
        font-family:serif;
    }

    .brandlogo {
        height: 500px;
        width: 500px;
        border-radius: 50%;
    }

}

/* Landscape smartphones */
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    header {
        width: 100%;
        height: auto;
        background-color: rgb(233, 222, 222);
        position: fixed;
    }

    #brandname {
        font-size: 30px;
        color: rgba(69, 69, 226, 0.959);
        text-align: center;
        font-family:  'Pacifico', cursive;
        font-weight: lighter;
    }

    #aboutusheading {
        text-align: center;
    }

    #aboutus {
        margin-top: 100px;
        height: auto;
        width: auto;
        padding: 25px;
        background-color: rgb(187, 215, 233);
        font-family:Arial, Helvetica, sans-serif;
    }

    h1 {
        font-size: 20px;
    }

    #foundersinfo {
        height: auto;
        width: auto;
        margin-top: 100px;
        background-color: rgb(187, 215, 233);
        padding: 40px 20px 40px 20px;
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;
        margin-bottom: 100px;
    }

    img {
        height: 300px;
        width: 220px;
        border-radius: 40px;
        margin-bottom: 20px;
    }

    #cofo {
        height:300px;
        width: 240px;
        border-radius: 40px;
        margin-bottom: 20px;
    }

    h1 {
        font-weight: lighter;
        font-family:serif;
    }

    .brandlogo {
        height: 350px;
        width: 350px;
        border-radius: 40px;
        margin-bottom: 20px;
        border-radius: 50%;
    }

}

    /* iPad in portrait and landscape mode */
@media only screen and (min-device-width : 768px) and (max-device-width : 1180px) {
     header {
        width: 100%;
        height: auto;
        background-color: rgb(233, 222, 222);
        position: fixed;
    }

    #brandname {
        font-size: 30px;
        color: rgba(69, 69, 226, 0.959);
        text-align: center;
        font-family:  'Pacifico', cursive;
        font-weight: lighter;
    }

    #aboutusheading {
        text-align: center;
    }

    #aboutus {
        margin-top: 100px;
        height: auto;
        width: auto;
        padding: 25px;
        background-color: rgb(187, 215, 233);
        font-family:Arial, Helvetica, sans-serif;
    }


    h1 {
        font-size: 20px;
    }

    #foundersinfo {
        height: auto;
        width: auto;
        margin-top: 100px;
        background-color: rgb(187, 215, 233);
        padding: 40px 20px 40px 20px;
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;
        margin-bottom: 100px;
    }

    img {
        height: 300px;
        width: 220px;
        border-radius: 40px;
        margin-bottom: 20px;
    }

    #cofo {
        height:300px;
        width: 240px;
        border-radius: 40px;
        margin-bottom: 20px;
    }

    h1 {
        font-weight: lighter;
        font-family:serif;
    }

    .brandlogo {
        height: 350px;
        width: 350px;
        border-radius: 50%;
    }
}

/* large devices only (laptops and desktops) */
@media (min-width:1200px) {
    header {
        width: 100%;
        height: auto;
        background-color: rgb(233, 222, 222);
        position: fixed;
    }

    #brandname {
        font-size: 30px;
        color: rgba(69, 69, 226, 0.959);
        text-align: center;
        font-family:  'Pacifico', cursive;
        font-weight: lighter;
    }

    #aboutusheading {
        text-align: center;
    }

    #aboutus {
        margin-top: 100px;
        height: auto;
        width: auto;
        padding: 25px;
        background-color: rgb(187, 215, 233);
        font-family:Arial, Helvetica, sans-serif;
    }

    h1 {
        font-size: 20px;
    }

    #foundersinfo {
        height: auto;
        width: auto;
        margin-top: 100px;
        background-color: rgb(187, 215, 233);
        padding: 40px 20px 40px 20px;
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;
        margin-bottom: 100px;
    }

    img {
        height: 300px;
        width: 220px;
        border-radius: 40px;
        margin-bottom: 20px;
    }

    #cofo {
        height:300px;
        width: 240px;
        border-radius: 40px;
        margin-bottom: 20px;
    }

    h1 {
        font-weight: lighter;
        font-family:serif;
    }

    .brandlogo {
        height: 350px;
        width: 350px;
        border-radius: 50%;
    }
}

    

