* {
    margin:0px;
}

a {
    text-decoration: none;

}

a:hover {
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media   (min-width: 600px) and (max-width: 1199px) {
    header {
        background-color: rgb(233, 222, 222);
        height: 100px;
        width: 100%;
        padding: 9px;
        position: fixed;
        }

    #brandname {
        font-size: 60px;
        color: rgba(69, 69, 226, 0.959);
        text-align: center;
        font-family:  'Pacifico', cursive;
        font-weight: lighter;
    }

    

    #aboutusheading {
        text-align: center;
    }

    #ccs {
        margin-top: 600px;
        height: auto;
        width: auto;
        background-color: lightcyan;
        text-align: center;
        font-size: 100px;
        font-family: 'Niconne', cursive;
        animation-name: ccsanim;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        color: rgb(27, 123, 206);
    }

    @keyframes ccsanim {
        0%   {background-color: rgb(216, 188, 188);}
        25%  {background-color: rgb(173, 222, 187);}
        50%  {background-color: rgb(179, 179, 219);}
        100% {background-color: rgb(224, 182, 205);}
    }
}

/* large devices only (laptops and desktops) */
@media (min-width:1200px) {

    header {
        width: 100%;
        height: auto;
        background-color: rgb(233, 222, 222);
        position: fixed;
    }

    #brandname {
        font-size: 30px;
        color: rgba(69, 69, 226, 0.959);
        text-align: center;
        font-family:  'Pacifico', cursive;
        font-weight: lighter;
    }

    #aboutusheading {
        text-align: center;
    }

    #ccs {
        font-size: 30px;
        margin-top: 200px;
        height: auto;
        width: auto;
        background-color: lightcyan;
        font-family: 'Niconne', cursive;
        animation-name: ccsanim;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        color: rgb(27, 123, 206);
    }

    @keyframes ccsanim {
        0%   {background-color: rgb(216, 188, 188);}
        25%  {background-color: rgb(173, 222, 187);}
        50%  {background-color: rgb(179, 179, 219);}
        100% {background-color: rgb(224, 182, 205);}
    }
}

    

