* {
    margin:0px;
}

a {
    text-decoration: none;

}

a:hover {
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media   (min-width: 600px) and (max-width: 1199px) {
    header {
        background-color: rgb(233, 222, 222);
        height: 100px;
        width: 100%;
        padding: 9px;
        position: fixed;
        }

    #brandname {
        font-size: 60px;
        color: rgba(69, 69, 226, 0.959);
        text-align: center;
        font-family:  'Pacifico', cursive;
        font-weight: lighter;
    }

    

    #aboutusheading {
        text-align: center;
    }

    main {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: auto;
        font-size: 30px;
        width: 100%;
        padding: 25px;
        margin-top: 100px;
        border-radius: 4px;
        background-color: rgb(187, 215, 233);
    }

    #aboutus {
       text-align: center;
    }

    

    #appsection {
        font-family: 'Courier New', Courier, monospace;
        background-color: rgb(187, 215, 233);
        height: 250px;
        width: 100%;
        font-size: 30px;
        padding: 40px;
        text-align: center;
    }

    #getappongps {
        font-size: 45px;
        padding: 10px;
        background-color: rgb(233, 222, 222);
        margin-bottom: 24px;
        height: 70px;
        width: auto;
        border-radius: 8px;
    }

    #getapponaas {
        font-size: 45px;
        padding: 10px;  
        height: 70px;
        width: auto;
        border-radius: 18px;
        background-color: rgb(233, 222, 222);
    }

    #restauranttoptions {
        background-color:rgb(187, 215, 233);
        padding: 20px;
        height: auto;
        width: auto;
        font-size: 45px;
    }

    ul {
        margin: 15px;
    }

    li {
        margin: 20px;
    }

    #das{
        background-color:rgb(187, 215, 233);
        padding: 20px;
        height: auto;
        width: auto;
        font-size: 45px;
    }

    footer {
        margin-top: 500px;
        font-size: 20px;
        height: auto;
        width: 100%;
        background-color: rgb(187, 215, 233);
        padding: 28px;
        font-family: monospace;
        color: darkblue;
    }
    }  
/*large devices only
    @media  (min-width: 1200px) {
        
    }
*/