* {
    margin:0px;
}

a {
    text-decoration: none;

}

a:hover {
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media   (min-width: 600px) and (max-width: 1199px) {
    header {
        background-color: rgb(233, 222, 222);
        height: 100px;
        width: 100%;
        padding: 9px;
        position: fixed;
        }

    #brandname {
        font-size: 60px;
        color: rgba(69, 69, 226, 0.959);
        text-align: center;
        font-family:  'Pacifico', cursive;
        font-weight: lighter;
    }

    

    #aboutusheading {
        text-align: center;
    }
}