* {
    margin:0px;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    }

body {
    width: auto;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media   (min-width: 600px) and (max-width: 1199px) {
    header {
        background-color: rgb(233, 222, 222);
        height: 100px;
        width: 100%;
        padding: 9px;
        position: fixed;
        }

    #brandname {
        font-size: 60px;
        color: rgba(69, 69, 226, 0.959);
        text-align: center;
        font-family:  'Pacifico', cursive;
        font-weight: lighter;
    }


    #aboutusheading {
        text-align: center;
    }

    main {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: auto;
        font-size: 20px;
        width: auto;
        padding: 25px;
        margin-top: 130px;
        border-radius: 4px;
        background-color: rgb(187, 215, 233);
    }

    #aboutus {
       text-align: center;
    }


    
    #restauranttoptions {
        background-color:rgb(187, 215, 233);
        padding: 20px;
        height: auto;
        width: auto;
        font-size: 30px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    ul {
        margin: 15px;
    }

    li {
        margin: 20px;
    }

    #eventcategories {
        background-color:rgb(187, 215, 233);
        padding: 20px;
        height: auto;
        width: auto;
        font-size: 30px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }


    #popularlocls {
        height: auto;
        width: auto;
        background-color: rgb(187, 215, 233);
        padding: 20px;
        font-size: 30px;
        margin-top: 60px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    h1 {
        font-size: 30px;
    }

    #das{
        background-color:rgb(187, 215, 233);
        padding: 20px;
        height: auto;
        width: auto;
        font-size: 30px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 60px;
    }

    #grid {
        display: grid;
        column-gap: 50px;
        grid-template-columns: auto auto auto;
        background-color: rgb(187, 215, 233);
        margin: 10px;
      }
      
    #grid-item {
        text-align: center;
        padding: 20px;
        font-size: 30px;
        }

    footer {
        margin-top: auto;
        font-size: 8px;
        height: auto;
        width: auto;
        background-color: rgb(187, 215, 233);
        padding: 28px;
        font-family: monospace;
        color: darkblue;
        display: grid;
    }
}  

/*Large devices only (laptops and deskops) */
@media (min-width: 1200px) {
    
    header {
        width: 100%;
        height: auto;
        background-color: rgb(233, 222, 222);
        position: fixed;
    }

    #brandname {
        font-size: 30px;
        color: rgba(69, 69, 226, 0.959);
        text-align: center;
        font-family:  'Pacifico', cursive;
        font-weight: lighter;
    }

    #aboutusheading {
        text-align: center;
    }

    main {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: auto;
        font-size: 15px;
        width: auto;
        padding: 40px;
        margin-top: 55px;
        border-radius: 2px;
        background-color: rgb(187, 215, 233);
    }

    #aboutus {
       text-align: center;
    }

    #eventcategories {
        background-color:rgb(187, 215, 233);
        padding: 12px;
        height: auto;
        width: auto;
        font-size: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    
    #restauranttoptions {
        background-color:rgb(187, 215, 233);
        padding: 12px;
        height: auto;
        width: auto;
        font-size: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    ul {
        margin: 10px;
        width: fit-content;
    }

    li {
        margin: 10px;
        width: fit-content;
    }

    #popularlocls {
        height: auto;
        width: auto;
        background-color: rgb(187, 215, 233);
        padding: 12px;
        font-size: 20px;
        margin-top: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

    h1 {
        font-size: 20px;
    }

    #das{
        background-color:rgb(187, 215, 233);
        padding: 12px;
        height: auto;
        width: auto;
        font-size: 20px;
        margin-top: 30px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }


    #grid {
        display: grid;
        column-gap: 50px;
        grid-template-columns: auto auto auto;
        background-color: rgb(187, 215, 233);
        margin: 12px;
      }
      
    #grid-item {
        text-align: center;
        padding: 8px;
        font-size: 20px;
      }

    footer {
        margin-top: auto;
        font-size: 9px;
        height: auto;
        width: auto;
        background-color: rgb(209, 220, 228);
        padding: 12px;
        font-family: 'Courier New', Courier, monospace;
        color: darkblue;
    }

    
}